<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>414个人信息</title>
    <link rel="stylesheet" href="./bootstrap-3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap-3.3.7/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./css/layui.css"  media="all">
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .container{
        margin: 10px auto;
    }
    .table{
        border: 1px solid #ccc;
    }
    th,td {
        height: 50px;
        text-align: center;
        vertical-align: middle !important;      
        border: 1px solid #ccc;
    }
    th{
        background: #DBDED9;
    }
    td a{
        text-decoration: none;
    }
    .add{
        margin-top: 50px;
        text-align: right;
    }
    .add button{
        display: inline-block;
        width: 200px;
        height: 30px;
        background: #CBD3C3;
        border: 0;
        outline: none;
        border-radius: 10px;
    }
</style>
<body>
    <div class="add table-responsive container">
        <button  type="button" data-toggle="modal" id="importExcel">导出Excel表格</button>&nbsp;&nbsp;&nbsp;
        <button  type="button" data-toggle="modal" id="importPdf">导出Pdf表格</button>&nbsp;&nbsp;&nbsp;
        <button  type="button" data-toggle="modal" data-target="#myModal">添加</button>
    </div>
    <div class="table-responsive container">
        <table class="table">
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>地址</th>
                <th>操作</th>
            </tr>
            <tr th:each="user : ${list}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.address}"></td>
                 <td>
                    <a href="#" data-toggle="modal" data-target="#myModal2" th:onclick="'javascript:edit('+${user.id}+');'">编辑</a>&nbsp;&nbsp;
                    <a href="#" th:href="@{/delete(id=${user.id})}">删除</a>
                </td>
            </tr>
        </table>
    </div>
    
<!-- Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel1">添加信息</h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div>
                        <label for="name">姓名:</label>
                        <input id="name" type="text">
                    </div>
                    <div style="margin: 10px 0;">
                        <label for="age">年龄:</label>
                        <input id="age" type="text">
                    </div>
                    <div>
                        <label for="address">地址:</label>
                        <input id="address" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="add">添加</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabe">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel2">修改信息</h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <input id="id2" type="hidden">
                    <div>
                        <label for="name2">姓名:</label>
                        <input id="name2" type="text">
                    </div>
                    <div style="margin: 10px 0;">
                        <label for="age2">年龄:</label>
                        <input id="age2" type="text">
                    </div>
                    <div>
                        <label for="address2">地址:</label>
                        <input id="address2" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="save">保存</button>
            </div>
          </div>
        </div>
</div>
    <div class="page">
        <div class="m-style M-box"></div>
    </div>
</body>
<script src="./js/jquery-1.11.0.min.js"></script>
<script src="./bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="./js/layui.js" charset="utf-8"></script>
<script src="./js/highlight.min.js" charset="utf-8"></script>
<script src="./js/layui.js" charset="utf-8"></script>
<script src="./js/bootstrap-paginator.js"></script>
<script>
    $("#add").click(function () {
        var username=$("#name").val();
        var age=$("#age").val();
        var address=$("#address").val();
        $.ajax({
            type:"post",
            url:"/add",
            dataType:"json",
            data:{
                username:username,
                age:age,
                address:address
            },
            success:function(data){
                if(data.success == 1){
                    window.location.href="/index";
                }
            }
        })
    });
    function edit(id) {
        $.ajax({
            type:"post",
            url:"/findUser",
            dataType:"json",
            data: {
                id:id
            },
            success:function (data) {
                $("#id2").val(data.id);
                $("#name2").val(data.username);
                $("#age2").val(data.age);
                $("#address2").val(data.address);
            }
        })
    };
    $("#save").click(function () {
        var id=$("#id2").val();
        var username=$("#name2").val();
        var age=$("#age2").val();
        var address=$("#address2").val();
        $.ajax({
            type:"post",
            url:"/update",
            dataType:"json",
            data:{
                id:id,
                username:username,
                age:age,
                address:address
            },
            success:function(data){
                if(data.success == 1){
                    window.location.href="/index";
                }
            }
        })
    });
    $("#importExcel").click(function () {
        window.open("/importFile");
    })
    $("#importPdf").click(function () {
        // window.location.href("/download");
        window.open("/download");
    })
</script>
<script>
    $(function(){
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
        var pageSize = 5;
        var dataCount, pageCount,currentPage;
        $.ajax({
            url: "/index1",
            type: 'POST',
            data: {
                pageSize: pageSize,
                pageNumber: 1
            },
            dataType: 'json',
            cache: false,
            success: function(datas) {
                    var html = template('tpl', {
                        list: datas.data.list,
                    });
                    $(className).html(html);
                    pageOperation();
                dataCount = datas.data.count;
                pageCount = Math.ceil(dataCount / pageSize)
                $(".showPage .pages").html(pageCount);
                // pagination插件分页操作start
                $('.M-box').pagination({
                    pageCount: pageCount,
                    coping: true,
                    homePage: '首页',
                    endPage: '末页',
                    prevContent: '<< 上一页',
                    nextContent: '下一页 >>',
                    callback: function(api) {
                        currentPage = api.getCurrent();
                        $(".showPage .pageNum").html(currentPage);
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: {
                                pageSize: pageSize,
                                pageNumber: currentPage
                            },
                            dataType: 'json',
                            cache: false,
                            success: function(datas) {
                                if(datas.result == 1) {
                                    var html = template('tpl', {
                                        list: datas.data.list
                                    });
                                    $(className).html(html);
                                    pageOperation();
                                }
                            },

                        })
                    }
                });
            },

        })
    })

</script>
</html>